/* Background Pattern Found at Link Below
https://codepen.io/poonam-adlakha/pen/qBorjWY */

html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

body {
  background: radial-gradient(
    white 5px,
    #f01111 10px 65px,
    #000000 1px
  );
  background-size: 100px 100px 
}

h1,
h2 {
  background-color: #9b0101;
  border-radius: 20px;
  color: white;
  width: 600px;
  margin: auto;
  margin-bottom: 5px;
  font-family: cursive;
}
#myCanvas {
  border: 5px solid #9b0101;
  border-radius: 30px;
}
